<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Game Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Signup Form -->
    <div>
        <h2>Signup</h2>
        <input type="email" id="signupEmail" placeholder="Email">
        <input type="password" id="signupPassword" placeholder="Password">
        <button id="signupButton">Signup</button>
    </div>

    <!-- Login Form -->
    <div>
        <h2>Login</h2>
        <input type="email" id="loginEmail" placeholder="Email">
        <input type="password" id="loginPassword" placeholder="Password">
        <button id="loginButton">Login</button>
    </div>

    <!-- Firebase SDKs -->
   <!-- Firebase v8 SDKs -->
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>

    <script>
       const firebaseConfig = {
  apiKey: "AIzaSyAZBWyAneV7ZErXNKuG1MBrc7VdtqvNKiY",
  authDomain: "hatzroni-ac6c3.firebaseapp.com",
  projectId: "hatzroni-ac6c3",
  storageBucket: "hatzroni-ac6c3.appspot.com",
  messagingSenderId: "833971896045",
  appId: "1:833971896045:web:95763477afc532788596e4",
  measurementId: "G-DE92V1R2LL"
};

        // Initialize Firebase
        const app = firebase.initializeApp(firebaseConfig);
        const auth = app.auth();
    </script>

    <script src="/app.js"></script>
</body>
</html>
